{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'cms_form.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'list_country' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    {{ vld_set_messages(report) }}

    <div class="content-sm">

        <h1>{{ flash_values.module_name_sc ~ '_add_form'|trans }}:</h1>

        {{ flash('error')|raw }}

        <form action="{{ url_for('apc-lc.add') }}" method="post" novalidate>

            <div class="form-group  {{ vld_style('ref') }}">
                <input class="form-group-item form-group-input" type="text" name="ref" value="{{ lc.ref }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'ref'|trans }}</span></label>
            </div>
            {{ vld_feedback('ref')|raw }}

            <div class="form-group  {{ vld_style('pl') }}">
                <input class="form-group-item form-group-input" type="text" name="pl" value="{{ lc.pl }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'pl'|trans }}</span></label>
            </div>
            {{ vld_feedback('pl')|raw }}

            <div class="form-group  {{ vld_style('en') }}">
                <input class="form-group-item form-group-input" type="text" name="en" value="{{ lc.en }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'en'|trans }}</span></label>
            </div>
            {{ vld_feedback('en')|raw }}


            {{ csrf()|raw }}

            <div class="form-buttons text-right">
                <a class="btn btn-secondary" href="{{ url_for('apc-lcs.show-all-paginated') }}" role="button">{{ 'Back'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'add_list_country'|trans }}</button>
            </div>

        </form>

    </div>

{% endblock %}