{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'cms_form.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'list_country' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    <div class="content-sm">

        <h1>{{ flash_values.module_name_sc ~ '_remove_form'|trans }}:</h1>

        {{ flash('warning')|raw }}

        <form action="{{ url_for('lc.remove', {'id': id}) }}" method="post" novalidate>

             {{ csrf()|raw }}

            <div class="form-buttons text-right">
                <a class="btn btn-secondary" href="{{ url_for('lcs.show-all-paginated') }}" role="button">{{ 'Back'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'remove_list_country'|trans }}</button>
            </div>

        </form>

    </div>

{% endblock %}