{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'show_all_paginated.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'list_country' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    {{ vld_set_messages() }}

    <div class="content-md">

        <h1>{{ flash_values.module_name_sc ~ '_remove_multiple_form'|trans }}:</h1>

        {{ flash('error')|raw }}

        <form action="{{ url_for('lcs.remove', {'page': page}) }}" method="post" novalidate>

            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                        <th class="text-left">n°</th>

                    <th class="text-center">{{ 'ref'|trans }}</th>
                    <th class="text-center">{{ 'pl'|trans }}</th>
                    <th class="text-center">{{ 'en'|trans }}</th>

                        <th class="text-center"></th>

                    </tr>
                    </thead>
                </table>
            </div>

            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    {% for lc in lcs %}
                        <tr>
                            <td class="text-left">{{ loop.index }}</td>

                        <td class="text-center">{{ lc.ref }}</td>
                        <td class="text-center">{{ lc.pl }}</td>
                        <td class="text-center">{{ lc.en }}</td>

                            <td class="text-center"><input type="checkbox" name="id[{{ i }}]" value="{{ lc.id }}"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {{ csrf()|raw }}

            {{ set_links()|raw }}

            <div class="form-buttons text-right">
                <a class="btn btn-secondary" href="{{ url_for('lcs.show-all-paginated') }}" role="button">{{ 'Back'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'delete_multiple_list_country'|trans }}</button>
            </div>

        </form>

    </div>

{% endblock %}