{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'show_all_paginated.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'list_country' %}

{% set flash_values = flash('value') %}
{% set pagination = session('pagination') %}

{% set local = session('local') %}

{% block content %}

    <div class="content-md">

        <h1>{{ flash_values.module_name_sc ~ '_show_all_list'|trans }}:</h1>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th class="text-left">n°</th>

                    <th class="text-center">{{ 'ref'|trans }}</th>
                    <th class="text-center">{{ 'pl'|trans }}</th>
                    <th class="text-center">{{ 'en'|trans }}</th>

                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for lc in lcs %}
                    <tr>
                        <td class="text-left">{{ loop.index }}</td>

                        <td class="text-center">{{ lc.ref }}</td>
                        <td class="text-center">{{ lc.pl }}</td>
                        <td class="text-center">{{ lc.en }}</td>

                        <td class="text-center"><a  class="td-link" href="{{ url_for('lc.show-one-by-id', {'id': lc.id}) }}">{{ 'details'|trans }}</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ url_for('lc.edit', {'id': lc.id}) }}">{{ 'update'|trans }}</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ url_for('lc.remove', {'id': lc.id}) }}">{{ 'remove'|trans }}</a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="list-buttons text-right">
            <a class="btn btn-primary" href="{{ url_for('lc.add') }}" role="button">{{ 'add_list_country'|trans }}</a>
        </div>

    </div>

{% endblock %}