/* ----------------------------------------------- */
/* --------------------- H1 ---------------------- */
/* ----------------------------------------------- */

h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* ----------------------------------------------- */
/* ---------------- FORM CONTENT ----------------- */
/* ----------------------------------------------- */

.form-content {
    display: flex;
    position: relative;
    width:1050px;
}
.form-subcontent-33 {
    position: relative;
    width:33%;
    padding: 0 15px 0 15px;
}
.form-subcontent-50 {
    position: relative;
    width:50%;
    padding: 0 15px 0 15px;
}

/* ----------------------------------------------- */
/* ----------------- FORM GROUP ------------------ */
/* ----------------------------------------------- */

.form-group {
    position: relative;
    height: 55px;
    width:100%;
    overflow: hidden;
}

.form-group-item {
    position: absolute;
    height: 55px;
    width:100%;
    left: 0;
    top: 0;
    background-color: transparent;
}

/* ----------------------------------------------- */
/* -------------------- INPUT -------------------- */
/* ----------------------------------------------- */

.form-group-input {
    border-bottom: 2px solid #fff;
    padding-top: 24px;
    color: #fff;
    outline: none;
    font-size: 1.1em;
}

.form-group-label {
    display: flex;
    align-items: flex-end;
    pointer-events: none;
    transition: all 0.5s ease;
}

.form-group-label > span {
    transform: translateY(0%);
    transition: transform 0.5s ease;
    margin-bottom: 7px;
    color: #fff;
    font-size: 1.1em;
}

.form-group-label::after {
    position: absolute;
    height: 2px;
    width: 110%;
    left: 0;
    bottom: 0;
    content: "";
    border-bottom: 2px solid #0275d8;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.form-group:focus-within .form-group-label > span,
.form-group-input:valid + .form-group-label > span {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    color: #0275d8;
}

.form-group:focus-within .form-group-label::after,
.form-group-input:valid + .form-group-label::after {
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

/* ----------------------------------------------- */
/* -------------------- SELECT ------------------- */
/* ----------------------------------------------- */

.form-group-select {
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    outline: none;
    flex: 1;
    border-bottom: 2px solid #0275d8;
    padding-top: 24px;
    color: #fff;
    outline: none;
    font-size: 1.1em;
    overflow: hidden;
    cursor: pointer;
}

.form-group-select option {
    background: #0275d8;
    height:40px !important;
    color: #fff;
    border: 0;
}

.form-group-select::-ms-expand {
    display:none;
}

.form-group-select:hover {
    color: #fff;
}

.select {
    display: flex;
}

.select::before {
    position: absolute;
    content: '\25BC';
    color: #0275d8;
    bottom:8px;
    right: 8px;
    cursor:pointer;
    pointer-events:none;
    transition:.5s all ease;
}

.select::after {
    position: absolute;
    height: 2px;
    width: 110%;
    left: 0;
    bottom: 0;
    content: "";
    border-bottom: 2px solid #fff;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.select:hover label span{
    color: #fff;
}

.select:hover select{
    color: #0275d8;
}

.select:hover::after {
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

.select:hover::before{
    color: #fff;
}

.form-group-label-select {
    display: flex;
    align-items: flex-end;
    pointer-events: none;
    transition: all 0.5s ease;
}

.form-group-label-select > span {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    margin-bottom: 7px;
    color: #0275d8;
    font-size: 1.1em;
}

/* ----------------------------------------------- */
/* ---------------- FORM BUTTONS ----------------- */
/* ----------------------------------------------- */

.form-buttons {
    margin: 55px 0 55px 0;
}

/* ----------------------------------------------- */
/* ------------------- ALERTS -------------------- */
/* ----------------------------------------------- */

.validation-feedback {
    color: #ff0000;
}

.alert {
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.alert-danger {
    border: solid 1px #ff0000;
    color: #fff;
    background-color: #f83e3e;
}

.alert-warning {
    border: solid 1px #ff4800;
    color: #fff;
    background-color: #fa703a;
}